  <% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: key) %>
  <% end %>
  <% if @blog.errors.any? %>
  <div class="error-explanation">
    <h2><%= @blog.errors.count%>件のエラーがあります。</h2>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end%>
    </ul>
  </div>
  <% end %>
<%= form_with(model: @blog, local: true, url:choose_new_or_edit) do |form| %>
  <div class= "form-group"%>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= form.label :content%>
    <%= form.text_field :content, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <br> 
    <% if @blog.image? && @blog.image.url%>
      <%= image_tag(@blog.image.url)%>
    <% end %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  　<br>
  <%= form.submit "投稿する" %>
<% end %>
  <br>
  <%= link_to "投稿トップページへ", blogs_path, class:'btn btn-secondary' %>