<div class="container">
  <%= notice %>
<h1>ブログ・写真一覧</h1>
<%= link_to "新規投稿",new_blog_path, class: 'btn btn-secondary' %>
<br>
<table class="table">
  <thead>
    <tr>
      <th style= "width: 15%" >投稿写真</th>
      <th>プロフィール名</th>
      <th>タイトル</th>
      <th>投稿内容</th>
      <th>投稿詳細</th>
      <th>投稿編集</th>
      <th>投稿削除</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog|%>
    <tr>
      <% if blog.image? %>
        <td><%= image_tag(blog.image.thumb.url) %></td>
      <% else %>
        <td><%=image_tag('noimage.png',width: '70%', height:'70%')%></td>
      <% end %>
      <td>プロフィール名</td>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= link_to '詳細', blog_path(blog.id) ,class:'btn btn-secondary' %></td>
      <td><%= link_to '編集', edit_blog_path(blog.id) ,class:'btn btn-secondary' %></td>
      <td><%= link_to '削除', blog_path(blog.id), method: :delete ,class:'btn btn-secondary',data: {confirm: "本当に削除しますか？"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>