<div class="container">
  <%= notice %>
  <div class="image_content row">
    <h1>写真投稿</h1>
    <div class="col-md-8">
      <ul class="list-group">
        <li>写真投稿</li>
      </ul>
    </div>
  </div>
  <div class="user_content">
    <h1>プロフィール</h1>
    <div class="col-md-4">
      <ul class="list-group">
        <li><%= link_to "サインアップ・プロフィール投稿", new_user_path, class:'list-group-item list-group-item-action' %></li>
      </ul>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>プロフィール写真</th>
        <th>名前</th>
        <th>プロフィール詳細</th>
        <th>プロフィール編集</th>
        <th>プロフィール削除</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user|%>
        <tr>
          <% if user.photo?%>
          <td><%= image_tag(user.photo.thumb.url)%></td>
          <% end%>
          <td><%= user.name %></td>
          <td><%= link_to "プロフィール確認", user_path(user.id), class:'btn btn-secondary' %></td>
          <td><%= link_to "プロフィール編集", edit_user_path(user.id), class:'btn btn-secondary' %></td>
          <td><%= link_to "プロフィール削除", user_path(user.id), method: :delete,  class:'btn btn-secondary'%></td>
        </tr>
      <% end %>
    </tbody>
  <table>

</div>